mixin mTitle(typeClass, depth, title, desc, btnTxt)
  div(class=`mTitle${!typeClass ? '' : ' '+typeClass}`)
    if depth == 'h2'
      h2.title !{title}
    if depth == 'h3'
      h3.title !{title}
    if desc
      p.desc !{desc}
    if btnTxt
      a(href="#none" class="btnAll") !{btnTxt}
        i.icoArrow
