mixin applist(typeClass, title, category, price, desc, img, grade)
    div(class=`appList${!typeClass ? '' : ' '+typeClass}`)
        a.item(href='#none')
            div.thumbnail
                img(src=img, alt='')
            div.infomation
                strong.title #{title}
                if category
                    span.category #{category}
                if price
                    strong.price #{price}
                if grade
                    div.grade #{grade}
            if desc
                p.infoDesc #{desc}