mixin filter(datas)
  button.btnReset(type="button") 초기화
  p.title 필터
  button.btnClose(type="button") 닫기
  each data, i in datas
    div(class=`${i > 1 ? data['type'] + ' active' : data['type']}`)
      strong(class=`${i > 1 ? 'title active' : 'title'}`)= data['title']
        span.btnToggle
          i.icoArrow
      div.toggleWrap
        ul
          each key, i in data['value']
            if key === '직접입력'
              li(class="self")
                strong 직접입력
                button.btnApply(type="button") 적용
                p
                  input(type="text" name="" id="" class="inputText" onkeyup="Cafe24.Utils._number_format(event, this, ',')")
                  span.sigh 원
                span.dash -
                p
                  input(type="text" name="" id="" class="inputText" onkeyup="Cafe24.Utils._number_format(event, this, ',')")
                  span.sigh 원
            else
              li
                input(type="checkbox" name=`` id=`${data['type'] + (i+1)}`)
                if key.indexOf('#') !== -1
                  label(for=`${data['type'] + (i+1)}` style=`background-color:${key}`)
                    span= key
                else if key.indexOf('rgba') !== -1
                  label(for=`${data['type'] + (i+1)}` style=`background:linear-gradient(-45deg, ${key})`)
                    span= key
                else
                  label(for=`${data['type'] + (i+1)}`)
                    span= key

  button.btnFilterApply(type="button") 필터 적용하기
