mixin item(item, index, types)
  case types
    when 'image'
      div.image
        a(href="/" target="_blank")
          img(src=item[index].src alt="")
    when 'app'
      div.image
        a(href="/" target="_blank")
          img(src=item[index].src alt="")
      div.inner
        a(href="/")
          strong.title= item[index].title
          span.subTitle= item[index].subTitle
          span.price= item[index].price
          p.description= item[index].description
    when 'theme'
      div.image
        a(href="/" target="_blank")
          img(src=item[index].src alt="")
      div.inner
        a(href="/")
          strong.title= item[index].title
          span.subTitle= item[index].subTitle
          span.price= item[index].price
        button.btnSample Sample
    when 'combine'
      div.image
        strong.combineTitle PC + MOBILE
          span SET
        a(href="/" target="_blank")
          span.pc
            img(src=item[index].src alt="")
          span.mobile
           img(src=item[index].mobileSrc alt="")
    when 'partner'
      div.inner
        a(href="/" target="_blank" class="logo")
          img(src=item[index].logo alt="")
        strong.title= item[index].title
        dl.info
          dt 웹사이트
          dd.outLink
            a(href=item[index].outlink)
              span= item[index].outlink
          dt 대표테마
          dd
            span= item[index].description
      div.image
        a(href=item[index].outlink target="_blank")
          img(src=item[index].src alt="")
    when 'faq'
      div.innerItem
        div.head
          strong.title= item[index].title
        div.content= item[index].content
        a(href="#layerFaqTop").btnCover.eShowLayer 열기
      div.innerItem
        div.head
          strong.title= item[index].title
        div.content= item[index].content
        a(href="#layerFaqTop").btnCover.eShowLayer 열기
      div.innerItem
        div.head
          strong.title= item[index].title
        div.content= item[index].content
        a(href="#layerFaqTop").btnCover.eShowLayer 열기
