mixin randomList(items, types)
  ul(class=`randomList ${types}`)
    each item, i in items
      case types
        when 'app'
          if i < 4
            li.item
              img(src=items[i].src)
          if (items.length - 1) === i
            if items.length <= 4
              li(class="item lastItem" data-item-count=items.length)
            else
              li(class="item lastItem" data-item-count='+' + items.length)

                img(src="/images/app_last_icon.jpg" alt="")
        when 'theme'
            li.item
              div.image
                img(src=items[i].src)
        when 'random'
            li.item
              img(src=items[i].src)
