header#header(class=headerClass)
  div.inner
    h1.logo
      a(href='#none')
        svg
          use(xlink:href="/images/svg_sprite.svg#cafe24store")
    div.navigation
      div.user
        // - (로그아웃인 경우) a.btnLogin(href="#none") 로그인
        // - 로그인인 경우
        button.btnUser(type='button') 사용자 정보 보기
        div.layer
          div.info
            strong.id cafe24dfdsfefwfewf
            button.btnLogout 로그아웃
              span.icoArrow
          div.my
            div.detail
              strong.count 6
              span.label 문의내역
            div.detail
              strong.count 999
              span.label 관심상품
      nav.nav
        ul.menu
          li.app
            a(href='#none') 앱
              span.icoArrow
            div.menuContent
              div.subMenu
                a.shotcut(href='#none') 앱 바로가기
                  span.icoArrow
                strong.menuTitle 카테고리
                div.menuInner
                  ul.list
                    each menu in ["전체", "배너", "팝업/알림", " 상품상세 편집", "상품 디스플레이", "마케팅", "고객지원", "판매/전환", "분석/통계", "기타"]
                      li
                        a(href="#none")= menu
              div.subMenu.curation
                strong.menuTitle 앱 기획전
                div.menuInner
                  ul.list
                    each menu in ["상반기 Top 12", "나도 인플루언서", "주목할만한 신상 앱", "핫 썸머! 쿨~한 앱", "재능마켓"]
                      li
                        a(href="#none")= menu
          li.theme
            a(href='#none') 테마
              span.icoArrow
            div.menuContent
              div.subMenu
                a.shotcut(href='') 테마 바로가기
                  span.icoArrow
                strong.menuTitle 카테고리
                div.menuInner
                  ul.list
                    each menu in ["전체", "패션", "유아동/키즈", "잡화/화장품", "리빙/라이프", "음료/음식", "가전", "기타"]
                      li
                        a(href="#none")= menu
              div.subMenu.curation
                strong.menuTitle 테마 기획전
                div.menuInner
                  ul.list
                    each menu in ["추천 테마", "인싸들이 선택한 테마", "무료 테마", "재미있고 활기찬", "신규테마 출시"]
                      li
                        a(href="#none")= menu
          li.curation
            a.curation(href='#none') 기획전
              span.icoArrow
            div.menuContent
              div.subMenu
                strong.menuTitle 앱 기획전
                div.menuInner
                  ul.list
                    each menu in ["상반기 Top 12", "주목할만한 신상 앱", "나도 인플루언서", "핫 썸머! 쿨~한 앱", "재능마켓"]
                      li
                        a(href="#none")= menu
              div.subMenu
                strong.menuTitle 테마 기획전
                div.menuInner
                  ul.list
                    each menu in ["추천 테마", "인싸들이 선택한 테마", "무료 테마", "재미있고 활기찬", "신규테마 출시"]
                      li
                        a(href="#none")= menu
        a.story(href='#none') 스토리
    div.search
      div.searchWrap
        button.btnSearch(type='button') 검색
        div.searchField
          select.fSelect.eSelect
            option 전체
            option 앱
            option 테마
          div.searchForm
            input(type='search' placeholder='검색어를 입력하세요')
            div.result
              strong.title 앱 인기
              div.items
                each value in ['고객관리', '마케팅', '리뷰앱']
                  button.value(type='button')= value
          button.btnClose(type='button') 닫기
    button(type="button").btnFold 메뉴보기
    button(type="button").btnFoldLayout 메뉴닫기