header#header
  div.inner
    h1.logo
      img(src="/images/cafe24store.svg" alt='cafe24 store')
      svg.icon(width="24px", height="24px")
        use(xlink:href="/images/cafe24store.svg#cafe24")
    div.navigation
      div.user
        // - (로그아웃인 경우) a.btnLogin(href="#none") 로그인
        // - 로그인인 경우
        button.btnUser(type='button') 사용자 정보 보기
        div.layer
          div.info
            strong.id cafe24dfdsfefwfewf
            button.btnLogout 로그아웃
          div.my
            div.detail
              strong.count 6
              span.label 문의내역
            div.detail
              strong.count 999
              span.label 관심상품
      nav.nav
        ul.menu
          li
            a(href='#none') 앱
            div.menuContent
              div.subMenu
                a.shotcut(href='') 앱 바로가기
                strong.menuTitle 카테고리
                ul.list.half
                  each menu in ["전체", "마케팅", "배너", "고객지원", "팝업/알림", "판매/전환", "상품상세 편집", "분석/통계", "상품 디스플레이", "기타"]
                    li
                      a(href="#none")= menu
              div.subMenu.curation
                strong.menuTitle 앱 기획전
                ul.list
                  each menu in ["상반기 Top 12", "주목할만한 신상 앱", "핫 썸머! 쿨~한 앱", "재능마켓"]
                    li
                      a(href="#none")= menu
          li
            a(href='#none') 테마
            div.menuContent
              div.subMenu
                a.shotcut(href='') 테마 바로가기
                strong.menuTitle 카테고리
                ul.list.half
                  each menu in ["전체", "리빙/라이프", "패션", "음료/음식", "유아동/키즈", "가전", "잡화/화장품", "기타"]
                    li
                      a(href="#none")= menu
              div.subMenu.curation
                strong.menuTitle 앱 기획전
                ul.list
                  each menu in ["상반기 Top 12", "주목할만한 신상 앱", "핫 썸머! 쿨~한 앱", "재능마켓"]
                    li
                      a(href="#none")= menu
          li
            a.curation(href='#none') 기획전
            div.menuContent
              div.subMenu
                strong.menuTitle 앱 기획전
                ul.list
                  li 전체
                  li 전체
                  li 전체
                  li 전체
                  li 패션
              div.subMenu
                strong.menuTitle 테마 기획전
                ul.list
                  li 전체
                  li 전체
                  li 전체
                  li 전체
                  li 패션
        a.story(href='#none') 스토리

    div.search.active
      div.searchWrap
        button.btnSearch(type='button') 검색
        div.searchField
          //- select.fSelect(style='width:100px;')
            option 전체
            option 앱 //
          div.fSelect.show(style='width:100px;')
            p.fNow 전체
            button.fButton
            ul.fOption(style='display:block;')
              li.selected
                a(href='#none') 전체
              li
                a(href='#none') 앱
              li
                a(href='#none') 테마
          div.searchForm
            input(type='search' placeholder='검색어를 입력하세요')
            div.result
              strong.title 앱 인기
              div.items
                each value in ['고객관리', '마케팅', '리뷰앱']
                  button.value(type='button')= value
          button.btnClose(type='button') 닫기
    button(type="button").btnFold 메뉴보기
    button(type="button").btnFoldLayout 메뉴닫기